.p-maps{
  width: 100%;
  &__header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__input{
    border-radius: 16px;
    border-width: 1px 1px;
    width: 80%;
    height: 32px;
    padding: 4px;

    &:focus{
      outline: none;
    }
    &::placeholder{
      font-size: 10px;
      color: rgb(85,85,85);
      padding-left: 24px;
    }
  }

  &__search{
    position: absolute;
    top:50%;
    right: 18%;
    transform: translateY(-50%);
  }

}


.place-pin {

  width: 16px;
  height: 16px;
  border-radius: 100%;
}

.purple{
  background-color: rgb(134, 24, 147);
}
.yellow{
  background-color: rgb(245, 166, 35);
}
.green{
  background-color: rgb(36, 141, 27);
}

.blue{
  background-color: rgb(1, 9, 142);
}

.pink{
  background-color: rgb(228,12,129);
}

.orange{
  background-color: rgb(202,84,27);
}



.place-pin img{
  width: 25px;
}

.cluster-marker{
  color: #fff;
  background: #FF8200;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}