.p-adoption-details {
  position: relative;

  &__header{
    margin-top: 42px;
  }
  &__paragraph {
    text-align: center;

  }

  &__arrow {
    position: absolute;
    top: 0;
    left: 8%;
  }

  &__title{
    margin-bottom: 16px;
  }

  &__data{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 28px auto 0;
    width: 90%;
  }

  &__logo{
    width: 56px;
    height: 56px;
    margin-left: 20px;
  }
&__asociacion-name{
  color: rgb(1,116,142);
  font-size: 16px;
}
  &__street{
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 12px;
  }

  &__street-img{
    margin-right: 8px;
  }
  &__contact-maps{
    width: 100%;
    height: 56px;
    margin: 20px auto;
  }
  &__contact{
    font-size: 16px;
    display: flex;
    align-items: center;
    margin: 0 10%;
  }
  &__contact-img-container{
     margin-left: 24px;
  }
  &__contact-img{
     margin-right: 16px;
  }

  &__subir-img-container{
    border: none;
  }

  &__subir-img-title{
    font-size: 16px;
    font-weight: unset;
  }

  &__subir-img-content{
    font-size: 12px;
  }
  &__subir-img-input-container{
    display: flex;
    justify-content: space-between;
    margin: 36px 0;
  }
  &__hr{
    width: 100%;
    margin-bottom: 24px;
  }

   &__subir-img-input{
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
   }

  &__subir-img-label{
    max-width: 80%;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
  }

  &__tasas-item{
    width: 100%;
    margin: 24px 0;
  }


  &__arrow-modify{
    width: 14px;
    height: 8px;
  }

  &__tipo-de-pago{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
  }

  @import "src/styles/block/block.adoptionForm.button";

  &__tipo-de-pago{

  }

  &__input-hour{
    margin: 0 0 38px;
    background-color: transparent;
    border-bottom: 2px solid lightgray;
    color: rgb(85, 85, 85);
    width: 50%;
    &--placeholder {
      font-size: 12px;
    }
  }

  &__tipo-de-pago-item{
    display: flex;
    align-items: center;
    margin: 18px 0 0
  }

  &__input-pago{
    opacity: 0.4;

  }

  &__data-adoption{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto ;
    width: 90%;
  }
  &__calendaar-img{
    position: absolute;
    top: 63.5%;
    right: 10%;
    transform: translate(-50%, 0%);
  }
}
.p-calendar.p-calendar-w-btn input {
  border: none;
}

.p-inputtext {
  border: none;
  width: 135%;
}

.p-calendar .p-datepicker {
  background-color: white;
  color: rgb(215, 125, 117);
  border: 1px solid rgb(250, 156, 147);
  border-radius: 4px;
}