.p-adoption{

  &__input-container{
    position: relative;
    margin: 42px 16px 12px;
  }

  &__input {
    border-radius: 16px;
    border-width: 1px 1px;
    width: 100%;
    padding: 4px;
    &:focus{
      outline: none;
    }
    &::placeholder{
      font-size: 10px;
      color: rgb(85,85,85);
      padding-left: 24px;
    }
  }

  &__search{
    position: absolute;
    top:50%;
    right: 6%;
    transform: translateY(-50%);

  }

  &__title {
    font-size: 16px;
    color: rgb(1,116,142);
    margin: 32px 16px 8px;
    display: flex;
    align-items: center;
  }

  &__mas{
    margin-left:8px ;
  }

  &__text{
    font-size: 12px;
    margin: 0 16px 24px;
  }

  &__hr {
    background-color: rgb(189, 210, 214);
    opacity: 51%;
    width: 90%;
    height: 1px;
  }
  &__linkto-item-state{
   text-decoration: none;
  }
  &__item-state{
    display: flex;
    justify-content: left;
    border: 2px lightgray solid;
    border-radius: 4px;
    color: rgb(1,116,142);
    list-style: none;
    font-size: 16px;
    margin: 24px 16px;
    padding: 12px;
  }

  &__state {
    font-size: 16px;
    color: rgb(1,116,142);
  }

  &__arrow{
    height: 13px;
    left: 90%;
    margin-top: 4px;
    position: absolute;
  }

  &__adoption{
    font-size: 16px;
    color: rgb(1,116,142);
    margin: 32px 16px 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

}