&__button {
  width: 196px;
  height: 40px;
  background-color: rgb(1, 116, 142);
  border-radius: 5px;
  border-width: 0;
  border-color: rgb(1, 116, 142);
  color: #ffffff;
  font-size: 16px;
  font-weight: lighter;
  margin: 16px 0 0;

  &--white {
    background-color: #ffffff;
    border-color: rgb(1, 116, 142);
    color: rgb(1, 116, 142);
    border-width: 1px;
  }
}