.c-carousel-adoption{

  .carousel-slider {

    .control-arrow {
      margin: 0 80px;

    }
    .control-arrow{
      display: none;
    }
    .slider-wrapper {
      .slider {

        .slide {
          background-color: transparent;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .c-carousel-adoption__container{
            width: 20%;
            height: 80%;
            background-color: rgb(189, 210, 214);
            box-shadow: rgba(0, 93, 114, 0.76);
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px 0;

            .c-carousel-adoption__img{
              width: 40%;
            }
            .c-carousel-adoption__title{
              font-family: 'Barlow', sans-serif;
              font-size: 16px;
              color: rgb(1,116,142);
              width: 81%;
              margin: 8px auto;
              text-align: center;
            }

          }
        }
      }

    }

    .control-dots {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 0;

      .dot{
        width: 8px;
        height: 8px;
        background: rgb(250, 156, 147);
        box-shadow: 1px 1px 2px rgba(0,0,0,0);
      }
    }

    .carousel-status{
      display: none;
    }
  }

  .carousel{
    .thumbs-wrapper{
      display: none;
    }
  }
}