.c-adoption-gallery-filter{

  &__input-container{
   display: flex;
    justify-content: center;
  }
  &__input{
    width: 75%;
    margin-bottom: 40px;
    &:focus{
      outline: none;
    }
  }

  &__link{
    text-decoration: none;
  }

  &__back{
    position: absolute;
    top: 0;
    left: 0;
  }

  &__search{
    transform: translateY(-140%);
    right: 15%;
  }

  &__filtros{
    height: 40%;
    position: absolute;
    top: 0;
    left: 95%;
    transform: translateX(-50%);
  }

  &__container{
    position: relative;
    margin: 0 16px 32px;
    border: 2px solid rgb(189, 210, 214);
    border-radius: 4px;
  }

  &__img-fav{
    position: absolute;
    top: 5%;
    right: 5%;
  }

  &__img{
    width: 100%;
  }

  &__location{
    display: flex;
    justify-content: space-between;
    padding: 4px 16px;
  }

  &__title{
    font-size: 25px;
    color: rgb(1,116,142);
    font-weight: bolder;
    margin: 0;
    text-decoration: none;
  }

  &__data{
    margin: 0;
    padding: 0;
  }

  &__city{
    margin: 0;
    font-size: 12px;
    text-decoration: none;
  }
}