.c-dialog-animal {

  width: 100%;
  margin: auto;
  @import "src/styles/block/block.adoption.button";

  &__content {
    border-radius: 12px !important;
    background-color: white;
    width: 85vw;
    height: 80vh;
    padding: 16px !important;
    border: 5px solid rgba(189, 210, 241, 0.7) !important;
    border-radius: 10%;

    &--rrss {
      width: 85vw;
      height: 45vh;
    }

  }

  &__cerrar {
    position: absolute;
    right: 20px;
    top: 20px;
  }

  &__desc {
    text-align: center;
    font-size: 16px;
    margin: 12px 0 32px;
    color: rgb(14, 54, 61);
  }

  &__img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 16px;
  }

  &__question {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: rgb(1, 116, 142);
  }

}

.p-dialog .p-dialog-titlebar-icons {
  display: none;
  float: none;
}

body .p-dialog .p-dialog-titlebar .p-dialog-title {
  color: rgb(1, 116, 142);
  font-size: 25px;
  width: 100%;
}

body .p-dialog .p-dialog-titlebar {
  border: none;
  background-color: white;
  text-align: center;
  padding: 0;
  margin: 0;
}

body .p-dialog .p-dialog-content {
  border: none;
}

body .p-dialog .p-dialog-footer {
  border: 1px solid rgba(189, 210, 241, 0.7);
  border-bottom: none;
  border-right: none;
  border-left: none;
  text-align: center;
  padding: 0;
}

body .p-dialog .p-dialog-footer button {
  border: none;
  width: 49%;
  margin: 0;
  font-size: 16px;
  background-color: white;
  color: rgb(244, 67, 50);
  padding: 16px 0px;
}

.p-button-secondary {
  color: rgb(14, 54, 61) !important;
  border: 1px solid rgba(189, 210, 241, 0.7) !important;
  border-bottom: none !important;
  border-right: none !important;
  border-top: none !important;
}
