.c-map-service {

  margin: 36px 8px 35px;
  border: 1px solid rgb(189, 210, 214);
  border-radius: 4px;

  &__title {
    margin: 30px 0 24px 20px;
    font-size: 16px;
    font-weight: 500;
    color: rgb(1, 116, 142);

    &--punctuation {
      margin: 1px 20px 11px;
    }

    &--punctuation-number {
      font-weight: normal;
      margin-right: 15px;
    }
  }

  &__arrow-top {
    width: 33px;
    height: 32px;
    position: absolute;
    right: 32px;
    bottom: 170px;

    &--opinion {
      position: relative;
      top: 12px;
      left: 3px;
    }
  }

  &__data-box {
    display: flex;
  }

  &__service-data {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__service-img {
    height: 96px;
    width: 108px;
    margin-left: 20px;
  }

  &__punctuation-box {
    margin-bottom: 15px;
  }

  &__score {
    display: inline-block;
    position: relative;
    top: 3px;
  }

  &__score-img {
    width: 24px;
    height: 24px;
    margin-right: 4px;
  }

  &__street {
    margin: 0 0 0 21px;
    font-size: 12px;
  }

  &__city {
    margin: 0 0 0 21px;
    font-size: 12px;
  }

  &__opinion-box {

  }

  //&__opinion-title {
  //  font-weight: 500;
  //  margin-left: 20px;
  //  font-size: 16px;
  //  color: rgb(1, 116, 142);
  //}

  &__text {
    font-size: 12px;
    font-style: italic;
    width: 70%;
    display: inline-block;
  }

  &__user-img {
    width: 27px;
    height: 27px;
    border-radius: 100%;
    object-fit: cover;
    margin: 0 16px 0 38px;

  }
  &__opinion-text {
    font-size: 10px;
    margin: 0 20px;
    width: 88%;
    height: 44px;
    border: 1px solid rgb(189, 210, 214);
    border-radius: 4px;
    resize: none;
    overflow: hidden;
    padding: 6px;
  }

  &__opinion-text::placeholder {
    font-size: 10px;
    color: black;
    overflow: hidden;
  }

  &__button {
    display: block;
    width: 88%;
    margin: 32px 20px 24px;
    height: 40px;
    background-color: #ffffff;
    border: 2px solid rgb(250, 156, 147);
    border-radius: 4px;
    color: rgb(250, 156, 147);
    font-size: 16px;
  }

}