.c-carousel-animal{

  .carousel-slider {

    .control-arrow {
      margin: 0 80px;

    }
    .control-arrow{
      display: none;
    }
    .slider-wrapper {
      .slider {

        .slide {

          background-color: transparent;
          .c-carousel-animal__container{
            width: 100%;
          }
        }
      }

    }

    .control-dots {
      position: absolute;
      top: 50%;
     //transform: translateY(-50%);
      .dot{
        position: relative;
        top: 50%;
        left: -8%;
        width: 8px;
        background: rgb(250, 156, 147);
        box-shadow: 1px 1px 2px rgba(0,0,0,0);
      }
    }

    .carousel-status{
      display: none;
    }
  }

  .carousel{
    .thumbs-wrapper{
      display: none;
    }
  }
}

