.c-filter-status{

    box-sizing: border-box;
    justify-content: space-around;
    display: flex;
    align-items: center;

    &__container{
        flex-direction: row;
        width: 320px;
        height: 240px;
        background-color: white;
    }

    &__title{
        text-align: center;
        width: 57px;
        height: 27px;
        font-family: 'Barlow', sans-serif;
        font-size: 20px;
        color: rgb(1, 116, 142);
        margin-top: 15px;
        margin-bottom: 20px;
        margin-left: 125px;
        margin-right: 125px;
        
    }

    &__item{
        width: 77px;
        height: 73px;
        margin: 0px;
        border: solid 1px rgb(189,210,214);
        border-radius: 10px;
        cursor: pointer;
    }

    &__img{
        width: 100%;
        height: 100%;
    }

    &__btn{
        width: 310px;
        height: 50px;
        margin: 35px 2px 15px 2px;
        padding: 0em;
        border-radius: 8px;
        background-color: rgb(250,156,147);
        font-family: 'Barlow', sans-serif;
        font-size: 16px;
        color: white;
        text-align: center;
    }
}

.borderImage-filter-status{
    border: solid 3px rgb(250,156,147);
    border-radius: 10px;
}

.p-dialog-content{
    border-radius: 8px;
    padding: 0px;
}

.p-dialog-titlebar{
    display: none;
    float: none;
}

.p-dialog .p-dialog-titlebar-icons{
    display: none;
    float: none;
}

.c-filter-page{


    justify-content: space-around;
    display: flex;
    align-items: center;

    &__img{
        position: absolute;
        right: 0;
        top:50%;
        transform: translate(-50%, -140%);
        width: 22px;
        height: 22px;

    }
}