.p-adoption-state{
  &__input-container{
    position: relative;
    margin: 42px 16px 12px;
    display: flex;
    justify-content: center;
  }
  &__input{
    width: 70%;
    border-radius: 16px;
    border-width: 1px 1px;

    margin: 0 auto 40px;
    padding: 4px;
    &:focus{
      outline: none;
    }
    &::placeholder{
      font-size: 10px;
      color: rgb(85,85,85);
      padding-left: 24px;
    }
  }

  &__back{
    position: absolute;
    top: 0;
    left: 2%;
  }

  &__search{
    position: absolute;
    top:50%;
    transform: translateY(-140%);
    right: 20%;
  }

  &__filtros{
    position: absolute;
    top: 0;
    left: 0;
  }


}
