.c-adoption-dialog{
    width: 100%;
    height: 100%;
}

.c-adoption-filter{

    box-sizing: border-box;
    justify-content: space-around;
    display: flex;
    align-items: center;

    &__container{
        flex-direction: row;
        width: 375px;
        height: 900px;
        background-color: white;
        margin-top: 24px;
    }

    &__filtro{
        margin: 34px 159px 38px 159px;
        display: flex;
        height: 25px;
    }

    &__mainTitle{
        text-align: center;
        width: 57px;
        height: 24px;
        font-family: 'Barlow', sans-serif;
        font-size: 20px;
        color: rgb(1, 116, 142);
        margin: 0px;
    }

    &__close{
        position: absolute;
        top: 10%;
        right: 5%;
        z-index: 1;
    }

    &__ciudad{
        width: 262px;
        height: 73px;
        margin: 20px 93px 30px 20px;
    }

    &__select{
        width: 258px;
        height: 30px;
        background-color: transparent;
        border-width: 0 0 1px;
        font-family: 'Barlow', sans-serif;
        font-size: 12px;
        color: rgb(85, 85, 85);
        background-image: url("/assets/img/arrow.png");
        background-position: right center;
        background-repeat: no-repeat;
        background-size: 13px;
        appearance: none

    }

    &__arrow{
        width: 13px;
        height: 8px;
    }

    &__especie{
        margin: 40px 20px 30px 20px;
    }

    &__edad{
        width: 262px;
        height: 73px;
        margin-left: 20px;
        margin-right: 93px;
    }

    &__sexo{
        margin: 5px 20px 5px 20px;
    }

    &__tamaño{
        margin: 5px 20px 5px 20px;
    }

    &__title{
        width: 56px;
        height: 19px;
        font-family: 'Barlow', sans-serif;
        font-size: 16px;
        color: rgb(1, 116, 142);
    }

    &__row{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;
    }

    &__item-container{
        width: 25%;
        padding: 0 12px 12px;
    }

    &__square{
        width: 100%;
        border: solid 1px rgb(189,210,214);
        border-radius: 10px;
        cursor: pointer;
        position: relative;
    }

    &__square:after{
        display: block;
        padding-bottom: 100%;
        content: "";
    }

    &__item{
        margin: 0px;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    &__img{
        position: relative;
        width: 100%;
        height: 100%;
    }

    &__btn{
        width: 333px;
        height: 40px;
        margin: 15px 20px 15px 20px;
        padding: 0em;
        border-radius: 8px;
        background-color: rgb(250,156,147);
        font-family: 'Barlow', sans-serif;
        font-size: 16px;
        color: white;
        text-align: center;
    }
}

.c-adoption{

    /*box-sizing: border-box;
    justify-content: space-around;
    display: flex;
    align-items: center;
    max-width: 50%;
    float: right;
    margin-top: 50px;
    margin-right: 20px;*/

    &__img{
        width: 24px;
        height: 24px;
    }
}

.borderImage-filter-adoption{
    border: solid 1px rgb(250,156,147);
    border-radius: 10px;
}

.p-dialog{
    max-height: 100%;
}