.c-adoption-status-gallery{

  &__link-status{
     text-decoration: none;

  }

  &__container{
    width: 90%;
    position: relative;
    margin: 0 16px 32px;
    border: 2px solid rgb(189, 210, 214);
    border-radius: 4px;
    padding: 12px;
  }

  &__title-status{
    display: flex;
    align-items: center;
  }

  &__title{
    font-size: 16px;
    color: rgb(1,116,142);
    font-weight: bolder;
    margin:0;
    width: 80%;
  }

  &__status{
    font-size: 12px;
    width: 40%;
    margin-left: 12%;
  }

  &__status--yellow{
    color: rgb(245, 166, 35);
  }
  &__status--red{
    color: rgb(244, 67, 50);
  }
  &__status--green{
    color: #2d572c;
  }

  &__location{
    display: flex;
    padding: 4px 16px;
  }

  &__status-img{
    position: absolute;
    right: 5%;
  }

  &__status-img--green{
    width:15px ;
  }

  &__img{
    width: 108px;
    height: 110px;
    max-height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }

  &__data{
    margin: 0 0 0 24px;
    padding: 0;
    width: 75%;
    display: flex;
    align-items: center;
  }

  &__city{
    font-size: 12px;
    color: black;
  }

  &__value{
    font-size: 12px;
    margin-left: 17px;
  }

  &__table{
    width: 100%
  }

}