.c-adoption-dialog{
    width: 100%;
    height: 100%;
}

.c-filter{

    box-sizing: border-box;
    justify-content: space-around;
    display: flex;
    align-items: center;
    margin: 0px;

    &__container{
        flex-direction: row;
        width: 307px;
        height: 320px;
        background-color: white;
        padding: 16px;
        border-radius: 8px;
    }

    &__title{
         text-align: center;
        font-family: 'Barlow', sans-serif;
        font-size: 20px;
        color: rgb(1, 116, 142);
    }

    &__item{
        width: 77px;
        height: 73px;
        margin: 0px;
        border: solid 1px rgb(189,210,214);
        border-radius: 10px;
        cursor: pointer;
    }

    &__img{
        width: 100%;
        height: 100%;
    }

    &__btn{
        width: 100%;
        height: 50px;
        padding: 0em;
        border-radius: 8px;
        background-color: rgb(250,156,147);
        font-family: 'Barlow', sans-serif;
        font-size: 16px;
        color: white;
        text-align: center;

    }
}

.borderImage-filter-maps{
    border: solid 3px rgb(228,12,129);
    border-radius: 10px;
}

.p-dialog{
    max-height: 100%;
}

.p-dialog-content{
    border-radius: 8px;
    padding: 0px;
}

.p-dialog-titlebar{
    display: none;
    float: none;
}

.c-filter-maps{

    box-sizing: border-box;
    justify-content: space-around;
    display: flex;
    align-items: center;
    max-width: 50%;
    float: right;
    margin-top: 50px;
    margin-right: 20px;

    &__img{
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        z-index: 1;
        width: 24px;
        height: 24px;
    }
}