.p-onboarding{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 16px;

  &__container{
   margin: 40% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__carousel{

  }

  &__img {
   margin-top: 32px;
  }

  &__close{
    position: absolute;
    left: 85%;
    z-index: 1;
  }

}

