.p-access {
  background-image: url("/assets/images/fondo.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;

  &__content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 67%;
  }

  &__title {
    text-align: center;
    width: 198px;
    font-size: 20px;
    margin: 5px 0 8px;
  }

  @import "./src/styles/block/block.access.button";

  &__later {
    text-align: center;
    width: 153px;
    font-size: 12px;
    margin: 16px 0 0;
  }
}