.p-home {

  &__logo {
    margin: 30px 28% 40px;
  }

  &__greetings {
    margin: 0 5% 32px;
    font-size: 25px;
    color: rgb(1, 116, 142);
  }

  &__hr {
    background-color: rgb(189, 210, 214);
    opacity: 51%;
    width: 90%;
    height: 1px;
  }
}