.c-more-options {

  &__avatar {
    position: relative;
    top: 68px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__container1 {
    margin: 58px 0 132px;

    &--map-services {
      margin: 25px 0 0;
    }
  }

  &__container2 {
    margin-bottom: 48px;
  }

  &__item {
    display: flex;
    justify-content: left;
    border: 2px lightgray solid;
    border-radius: 4px;
    color: rgb(1, 116, 142);
    list-style: none;
    font-size: 16px;
    margin: 16px;
    padding: 12px;

    &--map-services {
      padding: 10px;
    }
  }

  &__img {
    margin-right: 8px;

    &--map-services {
      margin-right: 22px;
      height: 21px;
      width: 21px;
    }
  }

  &__text {

  }

  &__arrow {
    height: 13px;
    left: 85%;
    margin-top: 4px;
    position: absolute;

    &--map-services {
      width: 14px;
      height: 9px;
    }
  }
}

