.c-user-options{

  &__avatar{
    position: relative;
    top: 68px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 100%;
    border: 2px solid rgb(1,116,142);
  }

  &__container1{
    margin: 100px 0 48px
  }

  &__item{
    display: flex;
    justify-content: left;
    border: 2px lightgray solid;
    border-radius: 4px;
    color: rgb(1,116,142);
    list-style: none;
    font-size: 16px;
    margin: 16px;
    padding: 12px;
  }

  &__img{
   margin-right: 8px;
  }

  &__text{

  }

  &__arrow{
    height: 13px;
    left: 85%;
    margin-top: 4px;
    position: absolute;
  }

}