@import "~bootstrap/scss/bootstrap-grid.scss";
@import "~bootstrap/scss/utilities/_flex.scss";
@import "~bootstrap/scss/utilities/spacing";
//@import "~bootstrap/scss/progress";
//@include font-size($progress-font-size);

//@import '~primereact/resources/themes/nova-light/theme.css';
@import '~primereact/resources/primereact.min.css';
@import '~primeicons/primeicons.css';


*{
  font-family: 'Barlow', sans-serif;
}
.container-fluid{
  padding-right: 0;
  padding-left: 0;
}

a{
  text-decoration: none;
  color: black;
}